<header id="header">
  <div class="header">

    <div class="header__company-name">
      <a href="#">
        <div class="header__logo"></div>
      </a>
      <h2>{{name}}</h2>
      <p>{{description}}</p>
    </div>
    <div class="header__feedback">
      {{phone}}<br>
      {{phone}}<br>
      <a id="feedback_link" href="#">{{feedback}}</a>
    </div>

  </div>

  <nav class="menu">
    <ul class="menu__nav">
      <li><a href="#">{{main_page}}</a></li>
      <li><a href="#">{{catalog_page}}</a></li>
      <li><a href="#">{{delivery_page}}</a></li>
      <li><a href="#">{{price_list_page}}</a></li>
      <li class="menu__nav_contacts"><a href="#">{{contacts_page}}</a></li>
    </ul>
  </nav>

</header>