
<footer class="footer" id="footer">

    <div class="footer__left">
      &copy; {{company_name}}<br>
      {{company_email}}
    </div>
  
    <div class="footer__center">
      <ul class="footer__menu">
        <li><a href="#">{{main_page}}</a></li>
        <li><a href="#">{{catalog_page}}</a></li>
        <li><a href="#">{{delivery_page}}</a></li>
        <li><a href="#">{{price_list_page}}</a></li>
        <li><a href="#">{{contacts_page}}</a></li>
      </ul>
    </div>
  
    <div class="footer__right">
      <a href="#" style="color: white">{{site_development}}</a> —<br>
      {{company_fullname}}
    </div>
  </footer>
 
