<div class="content" id="sidebar">
    <ul class="content__menu">
      <li><a href="#">{{auto}}</a></li>
        <li><ins><a href="#">{{appliances}}</a></ins>
          <ul type="disc" class="content__menu_appliances">
            <li><a href="#" style="color: black">{{microwaves}}</a></li>
            <li><a href="#">{{fridges}}</a></li>
            <li><a href="#">{{Dishwashers}}</a></li>
            <li><a href="#">{{teapots}}</a></li>
          </ul>
        </li>
      <li><a href="#">{{mobile_tech}}</a></li>
      <li><a href="#">{{computers}}</a></li>
      <li><a href="#">{{clothes}}</a></li>
      <li><a href="#">{{property}}</a></li>

    </ul>

    <div class="price-list">
      <a href="#" download title="Скачать прайс-лист Excel">
      <img src="img/excel.png" alt="Прайс-лист excel">
      <span class="price-list_text">{{price_list}}</span>
      </a>
    </div>
 </div>
