<script id="main-template" type="text/x-handlebars-template"> 
<div class="center-block" id="center-block">
    <div class="item">
    <img src="img/nophoto.png" alt="фотография отсутствует">
    <span class="item_definition">Самый клевый чайник, который надо купить!</span>
    <div class="item_price">1900 р.</div>
  </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
</div>
</script>
<script>
    console.log('main');
    var source = document.getElementById("main-template"); // DOM Node
    var template = source.innerHTML; // STRING
    var generator = Handlebars.compile(template); // Function
    var htmlContent = generator(); // String: template with data
    var elem = document.getElementById('center-block'); // output element: DOM Node
    elem.innerHTML = htmlContent;
</script>