<div class="center-block">
    <div class="item">
    <img src="img/nophoto.png" alt="фотография отсутствует">
    <span class="item_definition">Самый клевый чайник, который надо купить!</span>
    <div class="item_price">1900 р.</div>
  </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>
    <div class="item">
      <img src="img/nophoto.png" alt="фотография отсутствует">
      <span class="item_definition">Самый клевый чайник, который надо купить!</span>
      <div class="item_price">1900 р.</div>
    </div>