
<div id="feedback">
    <div class="container">
      <img id="feedback_close" class="close" src="img/close.png" alt="" width="20px" height="20px">
    </div>
    <div class="form">
  <h3>{{feedback}}</h3>
  <form action="Layout.html" name="f1">
  
    <label>{{input_name}}<sup>*</sup>
      <input class="input" type="text">
    </label>
  
    <label>{{input_phone}}<sup>*</sup>
      <input class="input" type="tel">
    </label>
  
    <label>{{input_email}}<sup>*</sup>
      <input class="input" type="email" required placeholder="Поле обязательно для заполнения">
    </label>
  
    <label>{{input_message}}
      <textarea name="message" id="message" class="message" cols="29" rows="7"></textarea>
    </label>
      <button type="submit" class="submit_button">{{submit}}</button>
  </form>
  
    </div>
  </div>
  


 
