<script id="feedback-template" type="text/x-handlebars-template"> 

<div id="window">
    <div class="container">
      <img onclick="show('none')" class="close" src="img/close.png" alt="" width="20px" height="20px">
    </div>
    <div class="form">
  <h3>ОБРАТНАЯ СВЯЗЬ</h3>
  <form action="Layout.html" name="f1">
  
    <label>Ваше имя<sup>*</sup>
      <input class="input" type="text">
    </label>
  
    <label>Телефон<sup>*</sup>
      <input class="input" type="tel">
    </label>
  
    <label>Email<sup>*</sup>
      <input class="input" type="email" required placeholder="Поле обязательно для заполнения">
    </label>
  
    <label>сообщение
      <textarea name="message" id="message" class="message" cols="36" rows="7"></textarea>
    </label>
      <button type="submit" class="submit_button">Отправить</button>
  </form>
  
    </div>
  </div>
  
  <div onclick="show('none')" id="gray"></div>

  </script>
