.header {
    background-color: #dcdcdc;
    position: relative;
    height: 230px;
  }
  
  .header__company-name {
    position:absolute;
    width: 273px;
    height: 100px;
    left: 320px;
    top: 55px;
    font-family: 'PT Sans', sans-serif;
  }
  
  .header__company-name h2 {
    left: 320px;
    top: 65px;
    line-height: 0.8;
    padding: 0;
    margin: 0;
  }

  .header__company-name p {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
  }
  
  .header__company-name a {
    position:absolute;
    width: 100px;
    height: 100px;
    background-color: #777777;
    left: -120px;
    top: 0px;
  }
  
  .header__feedback {
    width: 280px;
    height: 80px;
    position: absolute;
    right: 140px;
    top: 35px;
    color: #767676;
    line-height: 1.15;
    text-align: right;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .header__feedback a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px dashed #777777;
    color: #767676;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'PT Sans', sans-serif;
  
  }

  .header__feedback a:hover {
    border-color: #585858;
    color: #585858;
  } 

  .menu {
    width: 1400px;
    background-color: #777777;
    margin: 0;
    padding: 0;
  }
  
  .menu__nav{
    margin: 15px 200px;
    padding:0;
    list-style: none;
    display: inline-block;
  }

  .menu__nav li {
    display: inline;
  }

  .menu__nav a {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    padding: 0 20px;
  
    background-color: #777777;
    border-right: 1px solid white;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
  }
  
  .menu__nav .menu__nav_contacts{
    border-right: none;
  }
  
  .menu__nav a:hover{
    text-decoration: underline;
  }
  