<script id="sidebar-template" type="text/x-handlebars-template"> 
<div class="content" id="content">
    <ul class="content__menu">
      <li><a href="#">Автомобили</a></li>
        <li><ins><a href="#">Бытовая техника</a></ins>
          <ul type="disc" class="content__menu_appliances">
            <li><a href="#" style="color: black">Микроволновки</a></li>
            <li><a href="#">Холодильники</a></li>
            <li><a href="#">Посудомоечные машины</a></li>
            <li><a href="#">Чайники</a></li>
          </ul>
        </li>
      <li><a href="#">Мобильная техника</a></li>
      <li><a href="#">Компьютеры</a></li>
      <li><a href="#">Одежда</a></li>
      <li><a href="#">Недвижимость</a></li>

    </ul>

    <div class="price-list">
      <a href="#" download title="Скачать прайс-лист Excel">
      <img src="img/excel.png" alt="Прайс-лист excel">
      <span class="price-list_text">Прайс-лист</span>
      </a>
    </div>
 </div>
 </script>
