<footer class="page-footer">

    <div class="page-footer_left">
      &copy; 2012-2013 ЗАО «Компания»<br>
      info@name.ru‎
    </div>
  
    <div class="page-footer_center">
      <ul class="footer-menu">
        <li><a href="#" style="color: white">Главная</a></li>
        <li><a href="#" style="color: white">Каталог</a></li>
        <li><a href="#" style="color: white">Доставка и оплата</a></li>
        <li><a href="#" style="color: white">Прайс-лист</a></li>
        <li><a href="#" style="color: white">Контакты</a></li>
      </ul>
    </div>
  
    <div class="page-footer_right">
      <a href="#" style="color: white">Разработка сайта</a> —<br>
      компания «Пиксель Плюс»‎
    </div>
  </footer>