<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vrp first project</title>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
  </head>
  <body>
    <div id="header"></div>
    <div id="slider"></div>
    <div id="breadcrumbs"></div>
    <div id="sidebar"></div>
    <div id="main"></div>
    <div id="info"></div>
    <div id="footer"></div>
    <div id="feedback"></div>
    <div id="gray"></div>
</body>
</html>
