
@font-face {
       font-family: 'MyFont';
       src:  url('./Calibri-BoldItalic.woff2') format('woff2'),
             url('./Geometria-Thin.woff') format('woff');
       font-weight: 600;
       font-style: normal;
     }


.hello {
    color: red;
    font-family: 'MyFont';
    background: url(./icon.png);
}