<script id="paginator-template" type="text/x-handlebars-template"> 
<div class="paginator" id="paginator">
        <a href="#1">1</a>
        <a href="#2">2</a>
        <a href="#3" class="paginator__current">3</a>
        <a href="#4">4</a>
        <a href="#5">5</a>
        <a href="#6">6</a>
        <a href="#7">7</a>
      </div>
    </div>

</script>    

<script>
    console.log('paginator');
    var source = document.getElementById("paginator-template"); // DOM Node
    var template = source.innerHTML; // STRING
    var generator = Handlebars.compile(template); // Function
    var htmlContent = generator(); // String: template with data
    var elem = document.getElementById('paginator'); // output element: DOM Node
    elem.innerHTML = htmlContent;
</script>